* {
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-container, .atf, .info, .quote, .cta2 {
    padding-left: 150px;
    padding-right: 150px;
}

#content img {
    max-width: 100%;
}

.header-container {
    background-color: #1F2937;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#header .links {
    display: flex;
}

#header .logo {
    font-size: 24px;
    color: #F9FAF8; 
}


#header .links .item {
    margin: auto 5px auto 5px;
    color: #9A9CA2; 
    font-size: 18px;
}

.atf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1F2937;
}

.atf h1 {
    margin-top: 0px;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.atf p, .icons .item {
    color: #9A9CA2; 
    font-size: 18px;
}

.atf button {
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 5px;
    border: 0px;
    padding: 5px 20px;
    margin-top: 10px;
    transition: background-color 0.1s ease;
}

.atf button:hover {
    background-color: #3da8ff;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 5px;
    border: 0px;
    padding: 5px 20px;
    margin-top: 10px;
}

.atf button:active {
    transition: none;
    background-color: #F9FAF8;
    font-size: 18px;
    color: #3882F6;
    border-radius: 5px;
    border: 0px;
    padding: 5px 20px;
    margin-top: 10px;
}


.atf .heroimg {
    /* max-width: 100%; */
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

.icons img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #3882F6;
}

h2 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
    margin-top: 50px;
}

.icons .item {
    width: 150px;
    text-align: center;
}

.quote {
    background-color: #9A9CA2;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quotetext, .signature {
    padding: 0 150px;
}

.quotetext {
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.signature {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color:#1F2937
}

.ctacontainer {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
}

/* .ctacontainer .cta {

} */

.ctacontainer button { 
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 5px;
    border: 2px solid;
    padding: 5px 20px;
    margin-top: 10px;
    transition: background-color 0.1s ease;
}